export(asymetria)
export(kwantyl_rzedu)
export(moment_rzedu)
export(odchylenie_standardowe)
export(rozstep_kwartylowy)
export(srednia_arytmetyczna)
export(wariancja_probkowa)
export(wariancja_rozkladu)
export(wariancja)
export(wartosc_oczekiwana_rozkladu)
export(wsp_asymetrii_Aq)
export(wsp_asymetrii_As)
export(wsp_zmiennosci)
